<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>

    <h1>ADMIN PANEL</h1>

    <h3>Maintenance Menu (Admin Access Only)</h3>

    <ul>
        <li><a href="#">Add / Update Membership</a></li>
        <li><a href="#">Add / Update User</a></li>
        <li><a href="#">Add / Update Vendor</a></li>
        <li><a href="#">User Management</a></li>
        <li><a href="#">Vendor Management</a></li>
        <li><a href="#">Add Membership for Vendor</a></li>
        <li><a href="#">Update Membership for Vendor</a></li>
    </ul>

    <br>
    <a href="/logout">Logout</a>

</body>
</html>
